* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Torus Notched";
}

body {
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

/*** Header ***/

header {
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

header .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header .container ul {
    display: flex;
}

header .container ul a {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 30px;
    color: #66aefc;
}

header .container ul a:hover {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 30px;
    color: #31489f;
}

@media (max-width: 1500px) {
    header {
        position: relative;
        background-color: #66aefc;
    }

    header .container {
        width: 100%;
    }

    header .container ul a {
        color: #FFFFFF;
    }
}

@media (max-width: 750px) {
    header .logo {
        display: none;
    }

    header .container {
        justify-content: center;
    }

    header .container ul a {
        margin: 0 10px;
    }
}

/*** Section 1 ***/

@media (min-width: 1500px) {
    .sec1 {
        height: 100vh;
        width: 100%;
        background-image: url(../img/13.png);
        background-repeat: no-repeat;
        background-position: top right;
    }

    .bg-responsive {
        display: none;
    }
}

.sec1 .container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1 h1 {
    color: #31489f;
    font-size: 8em;
    margin-bottom: 70px;
}

.sec1 button::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 280px;
    background-color: #31489f;
    border-radius: 50px;
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
}

.sec1 button {
    position: relative;
    height: 70px;
    width: 250px;
    background-color: #FFFFFF;
    border: 3px solid #31489f;
    border-radius: 50px;
    font-size: 1.5em;
    color: #31489f;
    transition: 0.3s;
    z-index: 2;
    overflow: hidden;
}

.sec1 button:hover::before,
.sec3 button:hover::before {
    transform: translate(0%);
}

.sec1 button:hover {
    color: #FFFFFF;
    width: 280px;
}

.sec1 button i,
.sec3 button i {
    transform: scale(0);
    margin: -10px;
    transition: 0.3s;
}

.sec1 button:hover i,
.sec3 button:hover i {
    transform: scale(1);
    margin-left: 10px;
}

@media (max-width: 1500px) {
    .sec1 .container {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .sec1 {
        height: 100%;
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .sec1 .bg-responsive {
        margin-top: 50px;
    }

    .sec1 .bg-responsive img {
        width: 600px;
    }
}

@media (max-width: 950px) {
    .sec1 h1 {
        font-size: 6em;
        margin-bottom: 60px;
    }
}

@media (max-width: 700px) {
    .sec1 .bg-responsive img {
        width: 80%;
    }

    .sec1 h1 {
        font-size: 4em;
    }
}

@media (max-width: 700px) {
    .sec1 h1 {
        font-size: 3em;
    }
}

/*** Transition ***/

.transition {
    width: 105%;
    position: absolute;
    transform: translateY(-30%);
}

.transition img {
    width: 100%;
    filter: drop-shadow(0px 10px 5px #acc4e8);
}

/*** Section 2 ***/

.sec2 {
    position: relative;
    z-index: -1;
    background-color: #232323;
    padding: 120px 0;
}

.sec2 .container {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 .title {
    position: relative;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    margin-bottom: 100px;


}

.sec2 .title::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    background-color: #66aefc;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 35%, 64% 100%, 48% 35%, 31% 100%, 16% 35%, 0 80%);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sec2 .content {
    color: #FFFFFF;
}

.sec2 h3 {
    font-size: 2.5em;
}

.sec2 .titre {
    display: flex;
    align-items: center;
}

.sec2 .point {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-color: #31489f;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.sec2 .separator {
    width: 75px;
    height: 7px;
    background-color: #66adfc;
    border-radius: 0 50px 50px 0;
    margin: 25px 0;
}

.sec2 p {
    font-size: 1.2em;
    max-width: 600px;
    line-break: anywhere;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 1500px) {
    .content-top .left {
        max-width: 700px;
    }

    .content-bottom .right {
        max-width: 700px;
    }
}


@media (max-width: 1500px) {

    .sec2 .content {
        margin: 50px 0;
    }

    .sec2 .content img {
        width: 90%;
    }

    .sec2 .content-top {
        flex-direction: column;
    }

    .sec2 .content-bottom {
        flex-direction: column-reverse;
    }

    .sec2 .container {
        width: 100%;
        text-align: center;
    }

    .sec2 p {
        max-width: 900px;
        margin: 0 50px;
    }

    .content-top .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .sec2 .content-bottom .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .sec2 .separator {
        border-radius: 50px;
    }

    .sec2 .titre {
        justify-content: center;
        flex-direction: column;
    }

    .sec2 .point {
        margin-right: 0;
    }
}

/*** Section 3 ***/

.sec3 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 1080px;
    background-image: url(../svg/1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    filter: drop-shadow(5px 5px 10px #000);
}

.sec3 .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sec3 h3 {
    color: #FFFFFF;
    font-size: 4em;
}

.sec3 .separator {
    width: 100px;
    height: 7px;
    background-color: #66adfc;
    border-radius: 0 50px 50px 0;
    margin: 50px 0;
}

.sec3 p {
    font-size: 1.2em;
    color: #FFFFFF;
    max-width: 550px;
    line-break: anywhere;
    margin-bottom: 50px;
}

.sec3 button::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 280px;
    background-color: #FFFFFF;
    border-radius: 50px;
    top: -2px;
    left: -2px;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
}

.sec3 button {
    position: relative;
    height: 60px;
    width: 220px;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    font-size: 1.5em;
    color: #FFFFFF;
    transition: 0.3s;
    z-index: 2;
    overflow: hidden;
}

.sec3 button:hover {
    color: #31489f;
    width: 280px;
}

.sec3 .right img {
    width: 100%;
}

@media (max-width: 1500px) {
    .sec3 .right {
        max-width: 450px;
        text-align: center;
    }
}

@media (max-width: 1050px) {
    .sec3 .container {
        flex-direction: column;
    }

    .sec3 .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sec3 h3 {
        font-size: 3em;
    }

    .sec3 .separator {
        border-radius: 50px;
    }

    .sec3 p {
       margin: 0 20px;
    }

    .sec3 button {
        margin: 50px 0;
     }

    .sec3 .right img {
        width: 80%;
    }
}